<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="3" parallel="tests" >
<!-- suite name="Suite" -->
<listeners>
<listener class-name="utilities.Listeners"></listener>
</listeners>
  <test  name="Test1">
    <classes>
      <class name="tests.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
    <test name="Test2">
    <classes>
      <class name="tests.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
    <test name="Test3">
    <classes>
      <class name="tests.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
    <test name="Test4">
    <classes>
      <class name="tests.LandingPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
